{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD BASED -- DJANGO</title>
    <link rel="stylesheet" href='{% static "crudApp/css/bootstrap.css" %}'>
</head>
<body>
    <div class="container">
        <h1 class="alert alert-danger my-5">Function Based View ModelForm CRUD Project</h1>
        {% block content %}

        {% endblock content %}
    </div>
    
</body>
<script src="{% static 'crudApp/js/boostrap.js' %}"></script>
<script src="{% static 'crudApp/js/jquery.js' %}"></script>
<script src="{% static 'crudApp/js/popper.js' %}"></script>
</html>